<h1>Welcome to My Website, <%= @user.first_name %></h1>
  <p>
    You have successfully registered on example.com,
    with the email address: <%= @user.email %>.<br>
  </p>
  <p>To login, just click <%= @url %> .</p>
  <p>Have a great day!</p>
