<h1> <%= params[:kind] %> Sign Up</h1>

<% if params[:kind] == "Brand" %>
<%= render 'form_brand', user: @user %> <!-- #renders if user signup is for Brand -->
<% else %>
THIS WILL BE O AUTH<!-- #renders if user signup is Ambassador -->
<% end %>


<p> Already a member? <%= link_to "Log In", login_path %></p>
<%= link_to 'Home', root_path %>