<h1>New User</h1>

<% if params[:kind] == "Brand" %> 
<%= render 'form_brand', user: @user %> <!-- #renders if user signup is for Brand -->
<% else %>
<%= render 'form', user: @user %> <!-- #renders if user signup is Ambassador -->
<% end %>
<%= link_to 'Home', root_path %>
