<div class="container">
    <div class="signupform row">
        <div id="thanks-message">
          <div class="about-us-text1 col-xs-12">We developed BrandMe in 9 days
          </div>
          <div class="about-us-text2 col-xs-12">...with 8 weeks of learning code at <a href="https://wyncode.co/" target="_blank">Wyncode Academy</a>
          </div>      
          <div class="about-us-text3 col-xs-12">(it's our <a href="https://github.com/andylever28/Pitch1" target="_blank">final project</a> for the program)
          </div>
        </div>
        <div class="signupcol col-xs-6">
            <nav class="horiz-nav-bar">
                <div class='name-and-such'>
                    Andrew Lever
                </div>
                <ul class="nav-links">
                    <li>
                        <a href="https://www.linkedin.com/in/andrew-lever-b52b1292" target="_blank">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/andylever28" target="_blank">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:andylever28@gmail.com?Subject=I%20saw%20your%20Wyncode%20Pitch%20Day%20project">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <%= image_tag('snowboard.jpg', class: "defaultimg") %>
        </div>
        <!-- End form -->
        <div class="signupcol col-xs-6">
            <nav class="horiz-nav-bar">
                <div class='name-and-such'>
                    Carmen Barron
                </div>
                <ul class="nav-links">
                    <li>
                        <a href="https://www.linkedin.com/in/carmenbarron" target="_blank">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/carmenb162" target="_blank">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:carmen.barron@gmail.com?Subject=I%20saw%20your%20Wyncode%20Pitch%20Day%20project">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <%= image_tag('cjb-pic.jpg', class: "defaultimg") %>
        </div>
    </div>

    <div class="signupform row">
        <!-- Beginrow -->
        <div class="signupcol col-xs-6">
            <!-- Begin signup form -->
            <a class="twitter-timeline" href="https://twitter.com/andrew_lever28" data-height="550">Hola</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <!-- End form -->
        <div class="signupcol col-xs-6">
            <!-- signup info -->
            <a class="twitter-timeline" href="https://twitter.com/carmenb162" data-height="550"></a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <!-- end info-->
    </div>
    <!-- end row -->
</div>
<!--end container
