<div class="container">
    <div class="signupform row">
        <!-- Beginrow -->
        <div class="signupcol col-sm-6">
            <!-- Begin signup form -->
            <a class="twitter-timeline" href="https://twitter.com/andrew_lever28" data-height="550">Hola</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <!-- End form -->
        <div class="signupcol col-sm-6">
            <!-- signup info -->
            <a class="twitter-timeline" href="https://twitter.com/carmenb162" data-height="550"></a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <!-- end info-->
    </div>
    <!-- end row -->
</div>
<!--end container
