<H1>Here's where we make an about us page!</h1>
<strong>Find the files:</strong><br>
<ul>
    <li>
        views/page/about_us.html.erb<br>
    </li>
    <li>
        assets/stylesheets/about_us.css
    </li>
