<div class="containermain">
	<div class="row">
  	<div class="col-md-6">
  		<%= link_to "Brand Sign Up", :controller => "users", :action => "new", :kind => "Brand", class: "homebtns" %>
  	</div>
 	 	<div class="col-md-6">
			<%= link_to "Ambassador Sign Up", :controller => "users",:action => "new", :kind => "Ambassador", class: "homebtns"%></div>
		</div>
</div>