<h1>TwitterDatum#new</h1>
<p id="quest">Find me in app/views/twitter_datum/new.html.erb</p>

<%= form_tag('/users/'+current_user.id+'/twitter_datum', method: "post") do %>
  <%= label_tag(:q, "Please enter your twitter handle") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search", id: "btn") %>
<% end %>
	