#homepage-buttons-div{
  margin: auto;
  float: none;
  display:block;
  text-align: center;
  white-space: nowrap;
  font-size: 1.8em;
  text-decoration: none;
}


.large-name{
  color:#c5d1e5;
}

#bs-example-navbar-collapse-9 {
  background-color: transparent;
}

#welcome-pg-alert{
  color: red;
}
