#homepage-buttons-div{
  margin: auto;
  float: none;
  display:block;
  text-align: center;
  white-space: nowrap;
  font-size: 1.8em;
  text-decoration: none;
  padding-top: 60px;
}

.homepage-text{
  padding-top: 8%;
}

.large-name{
  color: white;
}

#bs-example-navbar-collapse-9 {
  background-color: transparent;
}

#welcome-pg-alert{
  color: #0084b4;
  text-align: center;
  font-size: 4em;
  padding-top: 70px;

}

#top-home-photo{
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-image: url(top-home-photo-50.jpg);
  /*background: linear-gradient(rgba(0,0,0, .8), rgba(0,0,0,.8)), url("top-home-photo.jpg");*/
  background-repeat: no-repeat;
  padding-top: 35px;
}


.new-user-button{
  border-radius: 7px;
  border: solid 4.5px;
  transition: all 0.1s ease 0s;
  color: white;
  text-decoration: none;
  background-color: rgba(0, 0, 0, .6);
  &:hover {
    color: #65CCEF;
    text-decoration: none;
  }
}

.homebtns{
  text-decoration: none;
  &:hover {
    color: #65CCEF;
    text-decoration: none;
  }
}

#amb-button{
  text-decoration: none;
  &:hover {
    color: #65CCEF;
    text-decoration: none;
  }
}
