a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.signinform {
    background-color: white;
    margin-top: 0;
    box-shadow: 0 5px 5px -5px #333;
}

.field label {
    margin-left: 0.2em;
    font-family: "Muli", sans-serif;
    font-weight: bold;
}

h1.signin {
    text-align: center;
    font-size: 2.5em;
    margin: 0;
}

#login-top-image {
    width: 100%;
    color: #1dcaff;
    border-radius: 7px;
}

.field input {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 1em;
}

.signininfo {
    font-family: "Muli", sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    color: #65CCEF;
}

#brandeditbutton {
    margin-top: 1.5em;
    font-size: 1.5em;
}

.edittips {
    text-align: center;
    font-family: "Muli", sans-serif;
}

@media (min-width: 768px) {}
@media (min-width: 900px) {
    .signinform {
        margin-top: 3em;
    }

    .brandactions input {
        margin-top: 1.5em;
    }

    #brandeditbutton {
        margin-top: 1em;
    }

    .formbundler {
        justify-content: flex-start;
    }

    .formbundler div.field,
    .formbundler input {
        margin-left: 0.5em;
    }

    .signincol {
        height: 550px;
    }
}

#signinform-top {
    padding-top: 50px;
}

.login-submit-button {
    border-radius: 7px;
    border: solid 4.5px;
    transition: all 0.1s ease 0s;
    color: white;
    text-decoration: none;
    background-color: #0084b4;

    &:hover {
        color: #65CCEF;
        text-decoration: none;
    }
}

li.list-group-item{
  text-align: center;
}
