.signupform {
    background-color: white;
    margin-top: 0em;
    box-shadow: 0 5px 5px -5px #333;
}

.field label {
    margin-left: 0.2em;
}

h1.signup {
    text-align: left;
    font-size: 2.5em;
    margin: 1em 0em;
}

h2.errors {
    font-size: 1.5em;
    color: red;
}

div.field {
    margin-top: 1em;
}

#multiuser {
    width: 50%;
    margin-left: 25%;
    color: #1dcaff;
}

.field input {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 1em;
}

.formbundler {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0.5em;
}

.formbundler div.field {
    width: 22%;
    margin-left: 1em;
    margin-bottom: 1em;
}

.oppositekindlink {
    margin-left: 1em;
    font-size: 1.2em;
}

.oppositekindlink a {
    color: #1dcaff;

}

.oppositekindlink a:hover {
    color: black;
    text-decoration: underline;
}
.signupinfo {
    font-family: "Muli", sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    color: #65CCEF;
}

.formbundler a {
    color: #1dcaff;
}

.formbundler a:hover {
    color: black;
    text-decoration: underline;
}

.brandactions input {
    margin-top: 1.5em;
}

#ambinput {
    font-size: 1.2em;
}

#brandinput {
    font-size: 1.5em;
    margin-top: 1.5em;
}



@media (min-width: 768px) {

#brandinput {
    font-size: 1.2em;
    }
}


@media (min-width: 900px) {
    .signupform {
        margin-top: 5em;
    }
    .field input {
        width: 55%;
        margin-left: 0.5em;
    }
    .formbundler {
        justify-content: flex-start;
    }
    .formbundler div.field, .formbundler input {
        margin-left: 0.5em;
    }
    .formbundler input {
        margin-top: 2.2em;
    }

    #ambinput {
        margin-top: -1em;
        width: 7em;
    }

    #brandinput {
        margin-top: 1.5em;
        width: 7em;
    }
    
}

#twitterform{
	padding-top: 40px;
}
