.navbar-fixed-top {
	background: white; /*This is what fills in background on navbar*/
}

body { padding-top: 30px; }

div.field {
	margin-bottom: 1.5em;
}



.searchrow {
}
.searchimgdiv {
	display: flex;
	justify-content: space-around;
	height: 5em;
	margin: 0em;

}
.searchimg {
	width: 5em;
	padding: 0em;
}
.searchform {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	margin: auto;
}

.searchform p {
	margin: 0 0 1em 0;
	color: black;
	font-size: 1em;
	font-weight: bold;
}

.resultscol {
	margin-top: 1.8em;
}


.searchinfo {
	box-shadow: 0 5px 5px -5px #333;
	margin: 0 0 2em 0;
	height: 5em;
}


#searchusername {
	font-family: "Muli", sans-serif;
	font-size: 1em;
	margin: 0.5em 0em;
	text-align: center;
	font-weight: bold;
}

#searchtwitterinfo {
	font-family: "Muli", sans-serif;
	font-size: 2em;
	margin: 0.5em 0em;
	text-align: center;
	color: black;
}
#searchusername a {
	color: #0084B4;
	
}

#searchusername a:hover {
	background-color: transparent;
	color: #1DA1F2;
}

.defaultimg {
	width: 60%;
	margin-left: 20%;
}

.showname {
	text-align: center;
	font-family: "Muli", sans-serif;
	margin: 0.5em;
}

#showtwitterstats
 {
	font-family: "Muli", sans-serif;
	text-align: center;
	margin: 0.5em;
	font-size: 1.2em;
	font-weight: bold;
}

.userinfo {
	height: 227px;
}
@media (min-width: 768px) {

.searchimgdiv,
.searchinfo {
	height: 10em;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
	margin-bottom: 1em;
}

#searchtwitterinfo {
	font-size: 3em;
	text-align: left;
	margin-top: 1em;
}

#searchusername {
	margin-top: 0.7em;
	font-size: 1.5em;
	text-align: left;
}
.searchimg {
	width: 55%;
	height: 9em;
	margin-top: 0.5em;
	padding: 0em;
}

.showname {
	font-size: 1.5em;
}
}

@media (min-width: 900px) {

.searchform {
	flex-direction: column;
	position: fixed;
	margin-top: 2em;
	}


}


