
.searchresults,
.tweetresults {
	height: 9em;
	margin-bottom: 0em;
	text-align: center;
}

.searchrow {
	margin-top: 1em;
}
.tweetresults {
	border-bottom: 1px solid #e1e8ed;
	margin-bottom: 1em;
}

.searchresults p,
.tweetresults p {
	margin: 0em;
	margin-bottom: 0.5em;
	font-size: 1.2em;	
	color: #333333;
	font-family: "Helvetica Neue"
}

.searchform {
	display: flex;
	justify-content: space-around;
}

div.field {
	margin-bottom: 1.5em;
}

p#searchresname {
	font-size: 1.4em;
	color: black;
	font-weight: bold;
} 

span#searchresbold {
	font-size: 1em;
	font-weight: bold;
	color: black;
	font-family: "Helvetica Neue"
}
#searchresname a {
	font-size: 1em;
	color: #09A0DB;
}

#searchresname a:hover {
	color: white;
	background: transparent;
}
.searchform {
	flex-direction: column;
	margin: auto;
}

.searchform p {
	margin: 0 0 1em 0;
	color: black;
	font-size: 1em;
	font-weight: bold;
}
.searchhead p {
	text-align: center;
	font-size: 3em;
	font-family: "Helvetica Neue";
	color: black;
}

#searchdefaultmessage {
	text-align: center;
	font-size: 2.2em;
	color: #333333;
	font-family: "Helvetica Neue"
}

.searchicon {
	width: 60%;
	margin-left: 20%;
}

.showinfoamb p {
	font-family: "Helvetica Neue";
	margin: 0.2em;
	text-align: center;
	font-size: 1em;
}

p#showname {
	font-size: 1.3em;
	font-family: "Helvetica Neue";
}

.imgdiv a,
.imgdiv a:hover {
	background: transparent;
}

@media (min-width: 768px) {

.searchresults,
.tweetresults
 {
	border-bottom: 1px solid #e1e8ed;
	margin-bottom: 1em;
	text-align: left;
	}

	.searchicon {
		width: 90%;

	}
}

@media (min-width: 900px) {

.searchform {
	flex-direction: column;
	position: fixed;
	}

}


